<!-- <div>
  <h2>{{ trip.name }}</h2>

  <img [src]="trip.image">

  <p>{{ trip.destination }}</p>
  <p>{{ trip.startDate }} - {{ trip.endDate }}</p>
  <p>{{ trip.price }}$</p>
  <p>{{ trip.description }}</p>
</div> -->
<app-header></app-header>

@if (trip) {
<div class="trip-card">

  <h2>{{ trip.name }}</h2>

  <img [src]="trip.image" [alt]="trip.name" />

  <p><strong>Destination:</strong> {{ trip.destination }}</p>

  <p>
    <strong>Dates:</strong>
    {{ trip.startDate }} - {{ trip.endDate }}
  </p>
<p><strong>Registered people:</strong> {{ registeredPeople }}</p>
  <p><strong>Price:</strong> {{ trip.price }}$</p>

  <p>{{ trip.description }}</p>
  @if (!userBooking) {
  <input #peopleInput type="number" min="1" value="1" />
  <button (click)="register(+peopleInput.value)">Register</button>
  }
@if (userBooking) {
  <p>You are registered with {{ userBooking.people }} people</p>
  <button (click)="cancelBooking()">Cancel Registration</button>
}
</div>
}